extends ../layout
block body
  h2 Como usar

  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, a provident sapiente quasi voluptas totam dolorum illo? Praesentium tempore aperiam consequuntur, accusamus modi ullam alias amet quo. Maxime, recusandae, soluta.
