extends ../layout
block body
    #map

    #sidebar
        .theme
        .accordion-group

    script(type="text/template", id="accordion-group-layers")
            <% _.each(groups, function(group) { %>
            .accordion
                .accordion-head
                    a(data-dropdown-target!='#<%= group._id %>', data-dropdown-parent='.accordion-group', href='#') <%= group.name %>
                .accordion-body.dropdown-group(id!="<%= group._id %>")
                    ul
                        <% _.each(group.layers, function(layer) { %>
                        li
                            a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                                | <%= layer.name %>
                        <% }); %>
            <% }); %>

    script(type="text/template", id="theme-active")
        h3 <%= name %>
        ul
            <% _.each(layers, function(layer) { %>
            li
                a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                    | <%= layer.name %>
            <% }); %>
