extends ../layout
block body
    .row.no-gutter
        #sidebar.col-xs-12.col-s-3.desativado
            .theme
            .accordion-group
        #map.col-xs-12.col-s-9
    script(type="text/template", id="accordion-group-layers")
            <% _.each(groups, function(group) { %>
            .accordion
                .accordion-head
                    a(data-dropdown-target!='#<%= group._id %>', data-dropdown-parent='.accordion-group', href='#')
                        | <%= group.name + ' (' + group.layers.length + ')' %>
                        i.fa.fa-angle-down
                .accordion-body.dropdown-group.collapse(id!="<%= group._id %>")
                    ul
                        <% _.each(group.layers, function(layer) { %>
                        li
                            a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                                //- i.fa.fa-square-o
                                | <%= layer.name.replace(/\_/gi, ' ') %>
                        <% }); %>
            <% }); %>

    script(type="text/template", id="theme-active")
        // <%= theme.name %>
        ul
            <% _.each(theme.layers, function(layer) { %>
            li
                a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                    | <%= layer.name %>
                    i.fa.fa-search
            <% }); %>

        h3 Camadas Relacionadas

    script(type="text/template", id="feature-popup")
        .marker-map
            strong Informações Extra
            hr
            ul
                <% _.each(feature.properties, function(v,k) { %>
                li
                    //- a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                    strong <%= k %>
                    | : <%= v %>
                <% }); %>
