extends ../layout
block body
    #map

    #sidebar

    script(type="text/template", id="accordion-group-layers")
        .accordion-group
            <% _.each(groups, function(group) { %>
            .accordion
                .accordion-head
                    a(data-dropdown-target!='#<%= group._id %>', data-dropdown-parent='.accordion-group', href='#') <%= group.name %>
                .accordion-body.dropdown-group(id!="<%= group._id %>")
                    ul
                        <% _.each(group.layers, function(layer) { %>
                        li
                            a.layer(data-layer-id!="<%= layer._id %>",href!="/layer/<%= layer._id %>")
                                i.fa.fa-toggle-off
                                | <%= layer.name %>
                        <% }); %>
            <% }); %>
