extends ../layout
block body
    #map

    #sidebar
        .accordion-group
            .accordion
                .accordion-head
                    a(data-dropdown-target='#cllps1', data-dropdown-parent='.accordion-group', href='#')
                        | Accordion Header Trigger
                #cllps1.accordion-body.dropdown-group
                    p
                        | Lorem ipsum dolor sit amet...
            .accordion
                .accordion-head
                    a(data-dropdown-target='#cllps2', data-dropdown-parent='.accordion-group', href='#')
                        | Accordion Header Trigger
                #cllps2.accordion-body.collapse.dropdown-group
                    p
                        | Lorem ipsum dolor sit amet...
