extends ../layout
block body
    .container
        h2 Sobre
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint itaque eius dolore tempore officia temporibus sunt cupiditate, facilis? Facilis voluptate dicta officia deserunt alias quisquam repellendus eos consequatur qui, hic.
