doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title Mapas - Gestão Urbana
        meta(name='description', content='Gestão Urbana')

        //- // Twitter Card data
        //- meta(name='twitter:card', content='summary')
        //- meta(name='twitter:site', content='@gestaourbanasp')
        //- meta(name='twitter:title', content='Função Social - Gestão Urbana')
        //- meta(name='twitter:description', content='Você já ouviu falar em “função social da propriedade”? Sabia que este assunto está diretamente ligado aos imóveis vazios ou abandonados? Se você conhece algum imóvel desse tipo e gostaria de saber mais sobre esse assunto contribuindo para mudar essa realidade em São Paulo visite nossa página da internet e saiba como.')
        //- meta(name='twitter:creator', content='@gestaourbanasp')
        //- meta(name='twitter:image', content='/funcao-social/images/social.png')

        //- Open Graph data
        //- meta(property='og:title', content='Função Social - Gestão Urbana')
        //- meta(property='og:type', content='site')
        //- meta(property='og:url', content='http://gestaourbana.prefeitura.sp.gov.br/funcao-social/')
        //- meta(property='og:image', content='http://gestaourbana.prefeitura.sp.gov.br/funcao-social/images/social.png')
        //- meta(property='og:description', content='Você já ouviu falar em “função social da propriedade”? Sabia que este assunto está diretamente ligado aos imóveis vazios ou abandonados? Se você conhece algum imóvel desse tipo e gostaria de saber mais sobre esse assunto contribuindo para mudar essa realidade em São Paulo visite nossa página da internet e saiba como.')
        //- meta(property='og:site_name', content='Função Social')
        //- meta(property='fb:admins', content='')


        link(href='/stylesheets/style.css', rel='stylesheet')
    body
        .header
            .top-bar.row.hidden-xs
                .col-xs-12.col-s-5
                    ul.no-bullets.menu
                        li
                            a(href="http://gestaourbana.prefeitura.sp.gov.br/")
                                i.fa.fa-angle-left
                                | Gestão Urbana
                        li
                            a(href="/sobre") Sobre
                        li
                            a(href="/como-usar") Como Usar

                #compartilhar.col-xs-12.col-s-4.offset-s-3(data-url="http://mapas.gestaourbana.prefeitura.sp.gov.br/",data-text="Compartilhe o mapa.", data-image="/images/social.png")
            h1
                a(href="/")
                    img(src="/images/logo-gestaourbana-mapas.svg", alt="Gestão Urbana Mapas")

            .theme-bar
                a.visible-xs.mobile-sidebar(href="#")
                    i.fa.fa-bars
                p.name
                    | Parklets

        block body

        .footer
            .row.no-gutter
                .licenca.col-xs-12.col-s-6.hidden-xs
                    p.inline-block
                        i.fa.fa-unlock
                        |  Código-fonte sob licença
                        a(href="www.gnu.org/licenses/gpl.txt")  GPL v3
                    p.inline-block
                        i.fa.fa-cc
                        |  Conteúdo sob licença
                        a(href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR")  CC BY 3.0
                .realizacao.col-xs-6.col-s-3
                    p.inline-block Realizacao
                    img(src="/images/logo-smdu.png", alt="Logo da Prefeitura de São Paulo Desenvolvimento Urbano")
                .apoio.col-xs-6.col-s-3
                    p.inline-block Apoio
                    img(src="/images/logo-sp-urbanismo.svg", alt="Logo da SP Urbanismo")

        <!--[if IE 8]>
        script(src='javascript/vendor/jquery-1.11.1.min.js')
        <![endif]--><!--[if gt IE 8]><!-->
        script(src='javascript/vendor/jquery-2.1.1.min.js')
        <!--<![endif]-->

        script(src='javascript/bundle.js')
